@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #333;
  font-size: 22px;
}

h1 {
  font-size: 2rem;
}

.txt-c {
  text-align: center;
  margin-bottom: 35px;
  color: #fff;
  font-size: 1.2rem;
  padding: 0 20px;
}

.row {
  text-align: center;
  font-family: "Lato", sans-serif;
  margin: 0 0 35px;
  color: #fff;
  padding: 0 20px;
}

.flexcont {
  width: 700px;
  max-width: 100%;
  display: flex;
  margin-bottom: 25px;
  color: #fff;
  padding: 20px 20px;
  background: #222;
  border-radius: 15px;
}
.flexcont.ai-c {
  align-items: center;
}
.flexcont.jc-sb {
  justify-content: space-between;
}

.board {
  position: relative;
}
.board.fademe {
  opacity: 0.2;
}

.board:after {
  width: 100%;
  left: 0;
  position: absolute;
  top: 100%;
  margin-top: -2px;
  height: 2px;
  background: #333;
  content: "";
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  max-width: 100%;
  justify-content: center;
}

.board > div {
  width: 33.333%;
  padding: 16.666% 0;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: relative;
  transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  font-size: 0;
  user-select: none;
}

.focused {
  background: rgba(255, 255, 255, 0.1);
}

.board > div:nth-child(3n) {
  border-right: none;
}

.board > div:before,
.board > div:after {
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3;
  opacity: 0;
  content: "";
}

.board > div.ai:before {
  width: 24%;
  padding: 12% 0;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #fff;
  z-index: 10;
  opacity: 1;
}

.board > div.player:before,
.board > div.player:after {
  width: 5px;
  height: 50px;
  background: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  opacity: 1;
}

.board > div.player:after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.results {
  display: none;
  width: 500px;
  max-width: 100%;
  padding: 30px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 4px solid #ccc;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.results.player {
  background: #fff;
  border: 4px solid rgb(0, 189, 41);
}

.results:before {
  font-size: 2.5rem;
  text-align: center;
  content: "It's a draw";
}

.results.player:before {
  content: "You Won!";
  color: rgb(0, 189, 41);
}

.results.ai {
  background: #fff;
  border: 4px solid rgb(216, 29, 29);
}

.results.ai:before {
  content: "You Lost!";
  color: rgb(216, 29, 29);
}

.player {
  background: #222;
}

.ai {
  background: rgb(149, 113, 117);
}

.loss {
  background: rgb(218, 58, 76);
}

.win {
  background: rgb(39, 165, 224);
}

.draw {
  background: #000;
}

button {
  padding: 10px 20px;
  background: #000;
  color: #fff;
  outline: none;
  border: 3px solid #000;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  font-weight: 700;
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  font-size: 1.2rem;
}

button:hover {
  background: #333;
}

.results button {
  margin-top: 25px;
}

.note {
  font-family: "Lato", sans-serif;
  position: absolute;
  font-size: 0.9rem;
  color: #ccc;
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);
}

@media all and (max-width: 960px) {
  body {
    font-size: 19px;
    padding: 30px 0;
  }
  h1 {
    font-size: 1.7em;
  }

  .board {
    padding: 20px;
  }

  .board:after {
    margin-top: -22px;
  }

  .flexcont {
    flex-wrap: wrap;
    padding: 20px 30px;
  }

  .flexcont > div:last-child {
    width: 100%;
    text-align: center;
    border-top: 1px solid #333;
    padding-top: 20px;
    margin-top: 20px;
  }
}
